<!-- base.html.twig, intègre mon header et mon footer
pour conserver le même header et footer dans chacques pages,
pour éviter de les copier à chaque fois sur une page.
Cette page est mon gabarit.-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Dans le title de ma page base, j'appelle la fonction block metatitle qui va me permettre
    d'afficher mon metatitle sur toutes les pages de mon site-->
    <title>{% block metatitle %}Skateboard Social club{% endblock metatitle%}</title>
    <!--J'utilise la balise link et la fonction asset pour rattacher ma feuille de style à mon html-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
    <link rel="stylesheet" href="{{ asset('css/page.css') }}">

</head>
<body>
<header class="header">
    <h1>SKATEBOARD SOCIAL CLUB</h1>
    <nav class="nav-bar">
        <ul class="menu">
        </ul>
    </nav>
</header>
<main>

    {% block main %}{% endblock main %}

</main>
<footer class="footer">
</footer>
</body>
</html>